* {
    font-family: "Gill Sans", sans-serif;
}
body {
    width: 60%;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
div {
    margin: 10px;
}
form {
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: center;
<<<<<<< HEAD
    background-color: rgb(3, 49, 134); /* background aldaketa */
=======
    background-color: lightgoldenrodyellow;
>>>>>>> origin/merge-egiteko
}